package ${package.Mapper};

import com.${package.ModuleName}.entity.${entity};
import ${superMapperClassPackage};


#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
